*{
  margin: 0;
  padding: 0;
  border: none;
}



#logo {
  width: 50px;
  height: 50px;
  display: inline;
  margin-right: 15px;
}

.navbar, .navbar-default {
  height: 70px;
  margin: 0;
}

.navbar li {
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  height: 70px;
}

.navbar>.container-fluid .navbar-brand {
  margin: 0;
}

#main {
  z-index: -1;
  background-image:url("main.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  z-index: -1;

  padding-top: 12%;
  text-align: center;
  line-height: 5;
}

#content h1 {
  color: white;
  font-size: 4em;
  margin: 0;
  padding: 0;
}

#content button {
  background-color: transparent;
  color: white;
  font-size: 1.7em;
margin-top: 30px;
  transition: background-color 300ms, color 1s, box-shadow 400ms;
}

#content button:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 5px 50px 0px black;
}
